/* css da página inicial */

.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 1em 0 1em;
    clear: left;
}

.principal {
    width: 940px;
    margin: 0 auto;
    text-align: justify;
    padding: 3em 0;
    background: #FEFEFE;
}

.principal p{
    margin: 0 1em 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 175px;
    float:  left;
    margin: 0 20px 0;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.servico {
    padding: 3em 0;
    background: #888888;
}

.conteudo-servico {
    width: 740px;
    margin: 0 auto;
}

.lista-servico {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.itens:nth-child(4) {
    font-weight: bold;
}

.itens:before {
    content: "✃ ";
}

.imagem-servico {
    width: 55%;
    padding: 0 0 0 5px;
    opacity: 0.3;
    box-shadow: 10px 10px 5px black;
}

.imagem-servico:hover {
    opacity: 0.7;
}

.video {
    width: 560px;
    margin: 2em auto;
}

/* css da página de produto */
body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produto {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produto li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5px;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produto li:hover {
    border-color: #C78C19;
}

.produto li:active {
    border-color: #088C19;    
}

.produto li:hover h2 {
    font-size: 34px;
}

.produto h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-preco {
    font-size: 25px;
    font-weight: bold;
    padding-top: 5%;
}

.produto-descricao {
    font-size: 20px;
}

footer {
    text-align: center;
    background: #000000;
    padding: 40px 0;
}

footer p {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

/* css da página de contato*/

form {
    width: 940px;
    margin: 40px auto;
}

form label, form legend, .select {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    color: #A7A8A9;

}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    border-color: #A7A8A9;
    border-radius: 5px;    
}

.select select {
    display: block;
    margin: 20px 0 0;
    padding: 10px 25px;
    color: #0091DA;
    font-size: 18px;
    font-style: italic;
    width: 55%;

}

.checkbox, .select p {
    margin: 20px 0;
}

#botao {
    margin: 20px 0;
    padding: 15px 0;
    width: 25%;
    background-color: orange;
    color: #FFFFFF;
    font-size: 18px;
    transition: 1s all;
}

#botao:hover {
    background-color: #D76B00;
    transform: scale(1.2);
}

.tabela-horario {
    margin: 20px 480px 40px;
}

.tabela-horario legend {
    font-size: 20px;
    margin: 0 0 10px;
    color: #A7A8A9;
}

table {
    width: 55%;
}

thead {
    background: #BBBBBB;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #BBBBBB;
    padding: 8px 15px;
    text-align:  center;
}

/*CSS mobile */